{% extends "layout.html" %}

{% block body %}

<h1 style="padding-top: 100px;">Welcome</h1>

    <p class="small-spaced">
        <em>Practice IPA</em> is an ongoing project aimed at first-year students majoring in English.
        It does not attempt to cover English varieties comprehensively, but only serves to provide IPA practice as the name suggests.
    </p>

    <h4>Features:</h4>

    <ul class="styled-list">
        <li class="list-item"><b>Progressive Difficulty Levels</b>: <em>Practise IPA</em> offers two levels of difficulty. Choose between Levels 1 and 2, each presenting different degrees of mismatch between phonemes and graphemes.</li>
        <li class="list-item"><b>Large Word Database</b>: Practice with real and relevant vocabulary. <em>Practise IPA</em> generates random words based on your selected difficulty level, providing you with a diverse range of transcription challenges. At the moment, the database includes around 1500 most frequent words from the <em>British National Corpus</em>. Ultimately, around 5000 words will be available.</li>
        <li class="list-item"><b>Instant Feedback</b>: After submitting your transcription attempt, <em>Practise IPA</em> provides instant feedback. It assesses the accuracy of your transcription and offers the correct IPA representation, helping you learn from your mistakes.</li>
        <li class="list-item"><b>British English Support</b> (with more to come): Currently, <em>Practise IPA</em> focuses on British English RP phonemes, with target transcriptions based on the <em>Oxford Advanced Learner's Dictionary</em>. In the future, American English will be added.</li>
    </ul>

    <p class="small-spaced">
        If you want to track your progress, you can create an account. Email information will not be collected (only username and password).
    </p>
    <p class="small-spaced">
        <b>NB! </b>For simplicity, /j/ and /w/ are listed under consonants, although they are often classified as semi-vowels. Also, since triphthongs are not given, you can build them using a diphthong and a monophthong.
    </p>

<p class="small-spaced">Comments and suggestions are welcome! If something doesn't work as expected or you have other questions, please contact me at <a href="mailto:armine.garibyan@fau.de">armine.garibyan@fau.de.</a></p>

{% endblock %}