{% extends "layout.html" %}

{% block body %}
    <br>
    <div class="flexbox" style="z-index: 2;">
        <div class="register">
            <p style="text-align: center;"><b>Create an account</b></p>

            <form action="/register" method="post">
                <table>
                    <tr>
                        <td>
                            <b>Username</b>
                        </td>
                        <td>
                            <input autocomplete="off" autofocus name="username" id="login" placeholder="Username" required type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Enter a password</b><br><span style="font-size: 12px;">(minimum 8 alpanumeric characters)</span>
                        </td>
                        <td>
                            <input id="userPassword"
                                   name="userPassword"
                                   type="password"
                                   autocomplete="new-password"
                                   required
                                   minlength="8"
                                   pattern="^[a-zA-Z0-9]+$"
                            >
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Repeat the password&nbsp;&nbsp;&nbsp;&nbsp;</b>
                        </td>
                        <td>
                            <input id="repeatPassword"
                                   name="repeatPassword"
                                   type="password"
                                   autocomplete="new-password"
                                   required
                                   minlength="8"
                                   pattern="^[a-zA-Z0-9]+$"
                            >
                        </td>
                    </tr>
                </table>
                <div style="text-align: center; margin-bottom: 20px;">
                    <br><button class="general-small" style="display: inline-block;" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}